body {
    background-image: 
        linear-gradient(
            rgba(245, 197, 197, 0.719), rgba(240, 40, 5, 0.911)
        )
}

h1, h2{
    text-align: center;
}

.container {
    text-align: center;
    font-size: 24px;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
}   

p {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left; 
}

.more-link {
    display: inline-block;
    margin-left: 10px;
}

.less-link {
    display: inline-block;
    margin-left: 10px;
}