html {
    height: 100%;
    background-image: url("/src/img/just_code.jpg");
    background-size: cover;
}


body {
    font-size:62.5%;
    cursor: default;
}

h1 {
    font-family: 'Fontdiner Swanky', cursive;
    text-align: center;
    font-size: 2.5rem;
    cursor: default;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: 2.4trem;
}

h2 {
    flex-basis: 100%;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 2rem;
    margin-bottom: -10px;
}
     
a:link
{
    color: rgba(15, 14, 14, 0.8);
    text-decoration: none;
    font-size: 1.3rem;
    position: relative;   /* Underline Effect */
}
    a:link:after {   /* Underline Effect */
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #f5ececda;
        transform-origin: bottom right;
        transition: transform 0.4s ease-out;
    }

a:visited
{
    color: purple;
    font-style: italic;
}
a:hover
{
    font-weight: bold;
}
    a:hover:after {    /* Underline Effect */
        transform: scaleX(1);
        transform-origin: bottom left;
    }
a:active
{
    color: #000000;
    font-variant: small-caps;
}

img {
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
    height: auto;
    border-radius: 35px;
}   
    .center {
        display: block;
        margin: 0 auto;
    }

p {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left; 
}

.more-link {
    display: inline-block;
    margin-left: 10px;
}

.less-link {
    display: inline-block;
    margin-left: 10px;
}